<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f0f8ff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    form {
      background-color: #ffffff;
      border: 2px solid #1e90ff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #1e90ff;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
      color: #1e90ff;
    }

    input {
      width: calc(100% - 22px);
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #ff4500;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background-color: #ff6347;
    }
  </style>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>
</head>

<body>
  <form action="/user" method="post">
    <h1>Signup</h1>
    <label>Full Name</label>
    <input type="text" required name="name" />
    <label>Email</label>
    <input type="text" required name="email" />
    <label>Password</label>
    <input type="text" required name="password" />
    <button type="submit">Signup</button>
  </form>
</body>

</html>